<section id="about" class="pt-10 scroll-mt-24">
  <h2 class="text-4xl md:text-6xl font-black uppercase mb-12 flex items-center gap-4 align-middle">
    <div class="bg-orange-300 p-4 neo-border rounded-full flex items-center justify-center shadow-lg">
      <svg class="w-[70%] h-[70%] text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2.5">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
      </svg>
    </div>
    <span>The Engineer</span>
  </h2>
  <div class="bg-purple-200 p-8 md:p-14 neo-border neo-shadow-lg text-lg md:text-3xl font-medium leading-[1.4] relative">
    <div class="absolute -top-8 top-auto -right-6 lg:-right-10 -rotate-12 bg-yellow-300 p-5 neo-border hidden md:flex items-center
        justify-center shadow-lg">
      <span class="font-black text-4xl">"</span>
    </div>
    <p>
      Software Engineer specialized in architecting high-availability systems and distributed web environments. Currently
      delivering enterprise-grade full-stack solutions at
      <span class="bg-yellow-200 px-2 font-bold neo-border inline-block rotate-1">GritFeat</span>.
    </p>
    <p class="mt-8">
      Focused on building scalable and maintainable systems with strong
      <span class="font-bold">state management and application architecture</span>,
                  while strengthening platform reliability through
      <span class="underline decoration-blue-500">secure authentication workflows</span>.
                  Experienced in deploying and running services using
      <span class="bg-lime-300 px-2 font-black neo-border inline-block rotate-2">containerized environments</span>,
                  with a strong emphasis on CI/CD automation and type-safe development practices.
    </p>
  </div>
</section>