{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/hero.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/experience.njk" %}
  {% include "partials/projects.njk" %}
  {% include "partials/skills.njk" %}
{% endblock %}
